# JNTUA FDP - DAY 05
#### Date: 31-May-2019

#### Day Objectives
* Tuples
* Dictionaries
* Regular Expressions
* Linear and Binary Search
* Date Arithmetic
* Iteration and Generators
* Functional Programming
* Idimotic programming

#### Python Tuples

In [6]:
#Tuple creation
t1=(1001,"raju",10,20,30)
t1

(1001, 'raju', 10, 20, 30)

In [7]:
t1[0]

1001

In [8]:
#tuple is immutable object so we cant change the values and its fixed
t1[0]=1002

TypeError: 'tuple' object does not support item assignment

In [9]:
#tuple is immutable object so we cant change the values and its fixed
t1.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [12]:
#accessing sub tuple
t1[2:]

(20, 30)

In [14]:
# Accessing the last element
t2=t1[-1]
t2

30

In [22]:
t3=(321,654,789098)
#accessing all the second digits of elements in the tuple
print(str(t3[0])[1],str(t3[1])[1],str(t3[2])[1])

2 5 8

In [35]:
#define a function to calculate teh avearege of all numerical elemenets of tuple
t4=(10,20,30)
def averageTuple(t):#This function calculates the avg of lists also so averageLinearDs(t)
    sum=0
    for i in range(0,len(t)):
        sum+=t[i]
    return sum/len(t)

li=[123,243,456]
print(averageTuple(t4))
print(averageTuple(li))

20.0
274.0

In [36]:
#define a function to calculate teh avearege of all numerical elemenets of tuple
t4=(10,20,30)
def averageLinearDs(t):#This function calculates the avg of lists also so averageLinearDs(t)
    sum=0
    for i in range(0,len(t)):
        sum+=t[i]
    return sum/len(t)

li=[123,243,456]
print(averageTuple(t4))
print(averageTuple(li))

20.0
274.0

In [52]:
#function to search in a linear data structure
def searchLinearDs(ds,key):
    for i in range(0,len(ds)):
        if ds[i]==key:
            return i
    return -1
ds=[1,2,3,4]
searchLinearDs(ds,4)

3

In [4]:
#function to search in a linear data structure
def searchLinearDs(ds,key):
    for i in ds:#here we use for i in range(0,len(ds)+1)
        if ds[i]==key:
            return i
    return -1

ds=[]
n=int(input("Enter how many elements is available in the list"))
key=int(input("Enter searching element"))
print("Enter elements in one by one")
for i in range(1,n+1):
    li=int(input()) 
    ds.append(li)
pos=searchLinearDs(ds,key)
print("The element is found at the position",pos)

Enter how many elements is available in the list5
Enter searching element2
Enter elements in one by one
1
2
3
4
5
The element is found at the position 1

### Iterable Objects
### list,tupels ans dictonaries and strings are iteratable objects

In [59]:
str="python"
for i in str:
    print(i)

p
y
t
h
o
n

In [63]:
#Define a function to identify the maximum element in a datastructure
def maxElementDS(ds):
        m=0
        for item in ds:
            if item>m:
                m=item
        return m
li=[1,2,3]
maxElementDS(li)

3

### python dictionaries
### Dictionaries are non-linear data structure
### set is also a non lenear ds
### heap is non linear

In [97]:
d1={'name1':12345,'name2':67890}#All keys are must be unique and values are may be repeat
print(d1)# displays the entire dictonary
print(d1['name1'])#name1 value is displayed
print(d1.keys())#print only keys
print(d1.values())#print only values
type(d1)

{'name1': 12345, 'name2': 67890}
12345
dict_keys(['name1', 'name2'])
dict_values([12345, 67890])

dict

In [98]:
#Adding new value to dictionary
d1['name3']="4567"
d1

{'name1': 12345, 'name2': 67890, 'name3': '4567'}

In [99]:
d1={'name1':12345,'name2':4567,'name3':7890}
d1

{'name1': 12345, 'name2': 4567, 'name3': 7890}

In [93]:
#removing the elements
d1.pop('name1')

12345

In [100]:
d1

{'name1': 12345, 'name2': 4567, 'name3': 7890}

In [95]:
#removing of all elements of the dictionary
#del(d1)

In [96]:
d1

NameError: name 'd1' is not defined

In [137]:
# Contacts Application
# Display Contacts
# Add Contacts
# Modify Contacts
# Delete Contacts
contacts={}

def addContact(contacts,name,phone):
    contacts[name]=phone
    return
def displayContacts(contacts):
    for name,phone in contacts.items():
        print(name,":",phone)
    return
def modifyContacts(contacts,name,newphone):
    contacts[name]=newphone
    return
def deleteContacts(contacts,name):
    contacts.pop(name)
    return

In [138]:
addContact(contacts,"name1",12345)
addContact(contacts,"name2",67890)

In [139]:
displayContacts(contacts)

name1 : 12345
name2 : 67890

In [141]:
modifyContacts(contacts,"name2",12345)

In [142]:
contacts

{'name1': 12345, 'name2': 12345}

In [143]:
deleteContacts(contacts,"name2")

In [144]:
contacts

{'name1': 12345}

In [147]:
#converting one tuple data type to list data type for data structure 
t4={1,2,3,4}
l4=list(t4)
l4
type(l4)

list

In [150]:
enumerate(l4)
for i,value in enumerate(l4):
    print(i,":",value)

0 : 1
1 : 2
2 : 3
3 : 4

### Note: switch case is implemented with dictionary

### Regular Expressions in Python
### https://regexr.com/
### https://www.regexpal.com/

#### [0-9]-- Regular expression for all single digits 0 to 9 
####    [0,1,2,3,....9]
##### [a-z]--RE for all lower case alphabet
###### RE for all single letters
###### [A-Z]---RE for all upper case alphabet
###### [0-1]--for boolean regular expressions
###### [01]--fro boolean regular expressions
###### [1][5][Aa][Mm][1][Aa][0][1-9][0-5][0-9]--RE that matches the rollnumber

## Function to validate college student roll number
## Function to validate indian phone numbers starts with 9,8,7,6 and have 10 digits
## function to validate email address :  username@domain.extension
## username: string of length 9,can contain digits,_,alphabets
## domain: string of atmost 9 can contain digits and alphabets
## extension:{length of 3.only alphabets}

## Function to validate indian phone numbers starts with 9,8,7,6 and have 10 digits
# phone=9701725185
#^[6-9][0-9]{9}$
# function to validate email address :  username@domain.extension

# username: ^[a-z][a-z0-9_.]{5,14}[@][a-z0-9]{3,12}[.][a-z]{2,3}[.]?[a-z]?$

In [8]:
##  ^[a]..[a]$---starts with a and ends with a 
### ^[a].{5}[a]$----starts with a and ends with a and number of middle characters should be 5

In [10]:
#phone number validator function in python
import re
def phoneNumberValidator(phone):
    phone=str(phone)
    pattern="^[6-9][0-9]{9}$"
    if re.match(pattern,phone):
        return True
    return False
phoneNumberValidator(5701725185)#

False

In [11]:
#phone number validator function in python
import re
def phoneNumberValidator(phone):
    phone=str(phone)
    pattern="^[6-9][0-9]{9}$"
    if re.match(pattern,phone):
        return True
    return False
phoneNumberValidator(9701725185)# exact 10 digits and starts with 9

True

In [12]:
#phone number validator function in python
import re
def phoneNumberValidator(phone):
    phone=str(phone)
    pattern="^[6-9][0-9]{9}$"
    if re.match(pattern,phone):
        return True
    return False
phoneNumberValidator(970172518512)#more than 10 digits

False

In [14]:
s1='Scratch: Introduction to programming concepts with scratch, Scratch environment, sprites looks and motion, Angles and directions, repetition and variation, changing costumes, adding background, Input/Output, variables and operators. Working with sounds and sprite communication and creating stories.'

In [21]:
syllabuslist=re.split('[,][\ ]',s1)
syllabuslist

['Scratch: Introduction to programming concepts with scratch',
 'Scratch environment',
 'sprites looks and motion',
 'Angles and directions',
 'repetition and variation',
 'changing costumes',
 'adding background',
 'Input/Output',
 'variables and operators. Working with sounds and sprite communication and creating stories.']

In [32]:
import datetime

print(type(datetime.datetime.now()))
print(datetime.datetime.now())
now=datetime.datetime.now()
print(now.year)
print(now.month)
print(now.hour)
print(now.minute)
print(now.second)

<class 'datetime.datetime'>
2019-05-31 17:09:15.751711
2019
5
17
9
15

# https://www.programiz.com/python-programming/examples
## https://www.programiz.com/python-programming/datetime

In [47]:
# Design a Python script to determine the difference in date for given two dates in YYYY:MM:DD format(0 <= YYYY <= 9999, 1 <= MM <= 12, 1 <= DD <= 31) following the leap year rules.
# YYYY:MM:DD is the date format as a string
import datetime
def dateDifference(date1,date2):
    year1=int(date1[:4])
    month1=int(date1[5:7])
    day1=int(date1[8:])
    print(year1)
    year2=int(date2[:4])
    month2=int(date2[5:7])
    day2=int(date2[8:])
    d1=datetime.date(year1,month1,day1)
    d2=datetime.date(year2,month2,day2)
    print(year2)
    return d2-d1
print(dateDifference('2019:05:27','2019:06:01'))

2019
2019
5 days, 0:00:00

In [49]:
import calendar
calendar.isleap(2016)

True

In [57]:
#2020-True
#1900-False
#1600-True
#2008-True
def isLeap(year):
    if year % 4==0 and year%400==0 or year % 100!=0:
        return True
    return False
isLeap(400)

True

In [ ]:
# Iterator Class
# define a list
my_list = [4, 7, 0, 3]

# get an iterator using iter()
my_iter = iter(my_list)

## iterate through it using next() 

#prints 4
print(next(my_iter))

#prints 7
print(next(my_iter))

## next(obj) is same as obj.__next__()

#prints 0
print(my_iter.__next__())

#prints 3
print(my_iter.__next__())

## This will raise error, no items left
next(my_iter)

## List Comprehensions

In [69]:
li=[1,2,3,4,5]
print(sum(li))
n=10
print(sum(range(1,n+1)))
print(sum(list(range(1,n+1))))# sum of N natural numbers

15
55
55

In [79]:
#calculate sum of squareroot of n natural numbers
from math import sqrt
squarelist=[sqrt(i) for i in list(range(1,n+1))]
print(squarelist)
print(sum(squarelist))

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795]
22.4682781862041

In [81]:
#calculate square of list elements
li=[1,2,3,4,5,6]
def squareListElements(li):
        return [i ** 2 for i in li]
squareListElements(li)

[1, 4, 9, 16, 25, 36]

In [93]:
#divisable of 9 and 5 and 3
li=list(range(1,50))
def divisibleByNine(li):
    return [i for i in li if i%9==0 and i%5==0 and i%3==0]
divisibleByNine(li)

[45]

In [94]:
#list of all leaf years 
li=list(range(1970,2019))
def leafYear(li):
    return [i for i in li if (i%4==0 and i%100!=0) or i% 400==0]
leafYear(li)

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [95]:
#list of all leaf years 
li=list(range(1970,2019))
[i for i in li if (i%4==0 and i%100!=0) or i% 400==0]

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

# Maps
#### The map() function applies a given function to each item of an iterable (list, tuple etc.) and returns a list of the results.
### Functions and iterators are passed as iterable objects to maps

In [107]:
# Define a function to calculate cube of all numbers in a list
li=[1,2,3,4]
def cube(n):
    return n**3
res=list(map(cube,li))
print(res)
print(sum(res))

[1, 8, 27, 64]
100
[1, 8, 27, 64]

In [112]:
# Define a function to calculate cube of all numbers in a list
li=[1,2,3,4]
def cube(n):
    return n**3
print(sum([cube(i) for i in li]))
print(sum(list(map(cube,li))))

100
100

In [125]:
#converting a number into words
def numberToWords(n):
    d1={1:'one',2:'Two',3:'Three',4:'Four'}
    i=0
    li=[]
    while(n!=0):
        digit=n%10
        li.append(d1[digit])
        n=n//10
    li.reverse()   
    return li
        
numberToWords(12)

['one', 'Two']

In [ ]:
#converting a number into words
def numberToWords(n):
    d1={1:'one',2:'Two',3:'Three',4:'Four'}
    i=0
    li=[]
    while(n!=0):
        digit=n%10
        li.append(d1[digit])
        n=n//10
    li.reverse()   
    return li
        
numberToWords(12)